/*
Project Name: Week 2 Homework Assignment
Client: Your Client
Author: Spencer Jack
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/


/* Box Model Hack */

* {
    -moz-box-sizing: border-box;
    /* Firexfox */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome/iOS/Android */
    box-sizing: border-box;
    /* IE */
}


/* Clear fix hack */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.alignright {
    float: right;
    padding: 0px 0px 10px 10px;
    /* note the padding around a right floated image */
}

.alignleft {
    float: left;
    padding: 0 10px 10px 0;
    /* note the padding around a left floated image */
}


/******************************************
/* BASE STYLES
/*******************************************/


/******************************************
/* 





/* Body */

body {
    width: 1200px;
    height: 2174px;
    line-height: 1.4;
    color: #000;
    font-family: "open sans";
    "Helvetica",
    "Arial",
    "sans-serif";
    font-weight: 300;
}

#container {
    width: 1200px;
    height: 2174px;
    margin: 0px 30px 0px 30px;
    /* fix margin error - should span full width of screen*/
}

/* Header */
html,
body {
    height: 100%;
}
header {
    width: 1200px;
    height: 701px;
    background: url(../images/header_bg.jpg) no-repeat center top rgb(134, 141, 157);
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 600;
}

header h1 {
    padding: 30px 0px 65px 120px;
    color: white;
    text-align: left;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 1.1px;
}

h2 {
    margin: 38px 0px 56px 0px;
    padding: 0px 180px 0px 189px;
    font-weight: 400;
    font-size: 46px;
    letter-spacing: 1.1px;
}

header button {
    height: 62px;
    width: 260px;
    margin: 20px;
    padding: 10px 0px 12px 0px;
    border-radius: 8px;
    background-color: #f9e42e;
    font-weight: 600;
    font-size: 29px;
}


/* Benefits Section */

section {
    padding: 60px 0px 40px 120px;
    background-color: #f0efef;
    font-weight: 300;
    font-size: 18px;
}

section h3 {
    font-weight: 600;
    font-size: 37px;
    color: #033048;
}

section p {
    margin-left: 10px;
    padding: 20px 0px 40px 0px;
    font-weight: 100;
    font-size: 26px;
}

p span,
li span {
    display: block;
}

section ul {
    margin: 20px 0px 30px 70px;
    line-height: 42px;
    list-style: inside;
    font-weight: 100;
    font-size: 27px;
}

/* Testemonial */

div .testemonial {
    padding: 65px 60px 70px 60px;
    background: url(../images/testimonial_bg.jpg)no-repeat center top rgb(134, 141, 157);
    background-size: cover;
    color: white;
    font-size: 33px;
    font-weight:100;
    letter-spacing: 1px;
    text-align: center;
}

.testemonial p span {
    font-style: italic;
    font-weight: 100;
    opacity: .7;
}

div .strong {
    position: static;
    margin-top: 20px;
    font-weight: bolder;
    letter-spacing: 1.5px;
    opacity: .9;
}

/* Footer */

footer {
    text-align: center;
    color: white;
}

footer .container {
    position: relative;
    height: 125px;
    width: 1200px;
    padding: 40px 0px 40px 0px;
    background-color: #f9e42e;
}

footer button {
    display: center;
    height: 62px;
    width: 305px;
    margin: -8px;
    border-radius: 8px;
    background-color: #033048;
    color: white;
    font-size: 25px;
    font-family:inherit;
    font-weight: 600;
}

footer .footer {
    position:relative;
    height: 350px;
    width: 1200px;
    background-color: #121212;
    opacity: .95;
}

footer h4 {
    padding-top: 55px;
    padding-bottom: 50px;
    color: #f9e42e;
    font-weight: 800;
    font-size: 47px;
    letter-spacing: 1.1px;
}

footer a {
    display: inline-block;
    padding-bottom: 55px;
    color: white;
    /* Keep link icons centered but create space between them */
}

footer a:first-child + a{
    padding-left: 50px;
}

.copyright {
    margin-bottom: 80px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/